@import './config';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-size: $rootsize;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    color: $darkgray;
  }
  
  a {
    color: $darkgray;
  }
  
  button {
    background-color: $darkgray;
    color:$whitedark;
    border: 1px solid $black;
    border-radius: 5px;
    padding: 0.5rem;
    word-break: initial;
  
    transition:
      color 300ms ease-in-out,
      background-color 300ms ease-in-out ;
  }
  
  button:hover {
    background-color: $whitedark;
    color: $darkgray;
  }
  
  button:active {
    background-color: $darkgray;
    color: $whitedark;
    border: 1px solid $black;
  }
  
  h1, h2, h3, h4 {
    font-family: 'Montaga', Georgia, serif;
  }


main {
    padding-left: 10px;
    padding-right: 10px;
  }